
Chat: <span id="chat"></span>
<br>
Message:
<br>
<textarea id="msg" style="width:380px; height: 80px;"></textarea>
<hr>
<button id="send">Send Message</button>

<script>
  $(document).ready(function(){
    /* Show messages */
    App.chat.received = function(data) {
      $("#chat").append(data["message"] + "<br>")
    }
    
    /* Send new message */
    $("#send").click(function(){
      msg = $("#msg").val()
      App.chat.send_msg(msg)
    })
  })
</script>


